li.active a {
    background-color: #eee !important;
}

.form-step2 {
    background: none;
    border: none;
    box-shadow: none;
    margin-bottom: 10px;
}

/**
 * Responsive Bootstrap Tabs 
 * 
 */

@media screen and (max-width: 479px) {
  .nav-tabs-responsive > li {
    display: none;
    width: 23%;
  }
  .nav-tabs-responsive > li > a {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    width: 100%;
    width: 100%;
    text-align: center;
    vertical-align: top;

  }
  .nav-tabs-responsive > li.active {
    width: 54%;
  }
  .nav-tabs-responsive > li.active:first-child {
    margin-left: 23%;
  }
  .nav-tabs-responsive > li.active, .nav-tabs-responsive > li.prev, .nav-tabs-responsive > li.next {
    display: block;
  }
  .nav-tabs-responsive > li.prev, .nav-tabs-responsive > li.next {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  .nav-tabs-responsive > li.next > a, .nav-tabs-responsive > li.prev > a {
    -webkit-transition: none;
    transition: none;
  }
  .nav-tabs-responsive > li.next > a .text, .nav-tabs-responsive > li.prev > a .text {
    display: none;
  }
  .nav-tabs-responsive > li.next > a:after, .nav-tabs-responsive > li.next > a:after, .nav-tabs-responsive > li.prev > a:after, .nav-tabs-responsive > li.prev > a:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .nav-tabs-responsive > li.prev > a:after {
    content: "\e079";
  }
  .nav-tabs-responsive > li.next > a:after {
    content: "\e080";
  }
  .nav-tabs-responsive > li.dropdown > a > .caret {
    display: none;
  }
  .nav-tabs-responsive > li.dropdown > a:after {
    content: "\e114";
  }
  .nav-tabs-responsive > li.dropdown.active > a:after {
    display: none;
  }
  .nav-tabs-responsive > li.dropdown.active > a > .caret {
    display: inline-block;
  }
  .nav-tabs-responsive > li.dropdown .dropdown-menu.pull-xs-left {
    left: 0;
    right: auto;
  }
  .nav-tabs-responsive > li.dropdown .dropdown-menu.pull-xs-center {
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .nav-tabs-responsive > li.dropdown .dropdown-menu.pull-xs-right {
    left: auto;
    right: 0;
  }
}
/**
 * 
 */
.wrapper {
  padding: 15px 0;
}

.bs-example-tabs .nav-tabs {
  margin-bottom: 15px;
}

@media (max-width: 479px) {
  #narrow-browser-alert {
    display: none;
  }
}

@media (min-width: 1200px) {

  .container {
      width: 890px;
      margin: 0 auto;
  }

}

#myTab {
  width: 100%;
  margin: 0 auto;
}

.nav-tabs>li>a {
  font-size: 1.4em;
  font-weight: 700;
}


.current-tab-color {
      background: #ededed;
}

.step-text {
  display: block;
  text-align: center;
  font-size: 10px;
}



.fa {
  font-size: 2em;
}

#myTabContent {
    width: 100%;
    margin: 0 auto;
   /* border: 2px solid black;*/
}

.tab-container-home {
    /*border: 2px solid red;*/
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 10px;
}

.icon-container {
    /*border: 2px solid black;*/
    margin: 0 auto;
    width: 100%;
    padding-top: 20px;
    background: #ededed;
}

.container-website {
  background: #ededed;
      padding-bottom: 25px;
}

.input-address-wrapper {
      width: 70%;
    margin: 0 auto;
    padding-top: 40px;
}

.auth-btn-container {
    width: 50%;
    margin: 0 auto;
}

.copy-btn {
  padding-bottom: 10px;
      width: 15%;
    margin: 0 auto;
}


.icon-box {
  /*border: 1px solid red;*/
  width: 400px;
  margin: 0 auto;
}

.icon-img {
  width: 150px;
}

.icon-wrapper {
   /* border: 2px solid red;*/
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 50px;
}

.save-btn-wrapper-chat-icon {
    width: 400px;
    margin: 0 auto;
        padding-bottom: 25px;
    padding-top: 10px;
}

.chat-settings-container {
    width: 50%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 10px;
}

.tab-3 {
  background-color: #eee;
}



.switch-field {
    font-family: "Lucida Grande",Tahoma,Verdana,sans-serif;
    // padding: 10px;
    margin-bottom: 5px;
    overflow: hidden;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}

.switch-field label {
    float: left;
    width: 90px;
    background-color: #e4e4e4;
    text-align: center;
    border: 1px solid rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.3), 0 1px rgba(255,255,255,.1);
    box-shadow: inset 0 1px 3px rgba(0,0,0,.3), 0 1px rgba(255,255,255,.1);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.switch-field label, .urltext {
    display: inline-block;
    color: rgba(0,0,0,.6);
    font-size: 14px;
    font-weight: 400;
    text-shadow: none;
    padding: 6px 14px;
}

.switch-field input:checked+label {
    background-color: #be0000;
    color: white;
    -webkit-box-shadow: none;
    box-shadow: none;
}



label {
    cursor: pointer;
}

.switch-field input {
    display: none;
}

#bigbutton {
    background-color: #be0000;
    border: none;
    color: #FFF;
    padding: 15px 121px;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    margin: 1px 0!important;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
    border-bottom: 3px solid #a30000;
    outline: 0;
}

.script-container {
      width: 100%;
    padding-top: 20px;
    margin: 0 auto;
     background: #ededed;
         padding-bottom: 30px;
}

.select-btn-wrapper {
      padding-top: 20px;
    width: 250px;
    /* border: 1px solid; */
    margin: 0 auto;
    float: right;
}

.input-container {
      padding-top: 20px;
    /* border: 2px solid black; */
    width: 75%;
    margin: 0 auto;
    float: left;
}

.script-style {
    background: #fff;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 13px;
    /* font-size: 0.9375rem; */
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 90%;
    overflow: auto;
    /*padding: 1.6em;*/
    text-align: left;
    white-space: pre-line;
    margin: 0 auto;
}


/* material design for radio button */
@import url(https://fonts.googleapis.com/css?family=Roboto);
@keyframes ripple {
  0% {
    box-shadow: 0px 0px 0px 1px transparent;
  }
  50% {
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0px 0px 0px 15px transparent;
  }
}
/*.md-radio {
  margin: 16px 0;
}*/
.md-radio.md-radio-inline {
  display: inline-block;
}
.md-radio input[type="radio"] {
  display: none;
}
.md-radio input[type="radio"]:checked + label:before {
  border-color: #be0000;
  animation: ripple 0.2s linear forwards;
}
.md-radio input[type="radio"]:checked + label:after {
  transform: scale(1);
}
.md-radio label {
  display: inline-block;
  height: 20px;
  position: relative;
  padding: 0 30px;
  margin-bottom: 0;
  cursor: pointer;
  vertical-align: bottom;
}
.md-radio label:before, .md-radio label:after {
  position: absolute;
  content: '';
  border-radius: 50%;
  transition: all .3s ease;
  transition-property: transform, border-color;
}
.md-radio label:before {
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(0, 0, 0, 0.54);
}
.md-radio label:after {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  transform: scale(0);
  background: #be0000;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
    zoom: 1;
}

table {
    border-collapse: collapse;
    margin: 0 0 1.5em;
    width: 100%;
}

#web_list_filter {
  width: 25%;
  float:right;
}

.dataTables_length {
  display: none;
}

.dataTables_info {
  display: none;
}

.dataTables_paginate {
  display: none;
}

#pnw_chat_settings b {
  font-size: 1.3em;
  padding-right: 15px;
}

.select-btn-wrapper {
  p {
    font-size: 1.5em;
  }
}

#narrow-browser-alert {
  strong {
    font-size: 2em;
  }
}

.disabledTab{
    pointer-events: none;
}

#bigbutton_chat {
   @extend #bigbutton;
}

#bigbutton_website {
  @extend #bigbutton;
}

#bigbutton_settings {
  @extend #bigbutton;
}




$threetwenty: "screen and (max-width : 320px)";

@media #{$threetwenty} {
  .icon-img {
      width: 115px;
  }

  .icon-wrapper {
    width: 90%;
    padding-bottom: 35px;
  }

  #myTabContent {
    width: 100%;
  }

  #bigbutton {
    padding: 15px 40px;
    font-size: 15px;
  }

  .save-btn-wrapper-chat-icon {
    width: 200px;
  }

  .select-btn-wrapper {
    width: 85%;
  }

  .input-container {
    width: 100%;
    padding-top: 0px;
    position: relative;
    z-index: 10;
  }

  .switch-field {
    z-index: 10;
    position: relative;
  }

  #bigbutton_website {
    font-size: 12px;
  }

  .auth-btn-container {
    width: 100%;
  }


    input#pdw-domain-validation {
      width: 77%;
      margin-top: 17px;
      z-index: 10;
      position: relative;
    }

    button#pnw-domain-add-button {
          position: relative;
          float: right;
    }

    .chat-settings-container {
      width: 65%;
    }

    .c.colorpicker-saturation {
     width: 180px;
    }

    .copy-btn{
      width: 50%;
    }


  
}


.colorpicker-2x .colorpicker-saturation {
        width: 200px;
        height: 200px;
    }

    .colorpicker-2x .colorpicker-hue,
    .colorpicker-2x .colorpicker-alpha {
        width: 30px;
        height: 200px;
    }

    .colorpicker-2x .colorpicker-color,
    .colorpicker-2x .colorpicker-color div {
        height: 30px;
    }

.dataTables_filter {
  display:none;
}

.dataTable thead td {
  background: red !important;
}


#web_list td, #web_list th, #web_list button {
  font-size: 16px;
}

.colorpicker-element {
  width:93%;
}